version: '3.8'
services:
  db:
    image: ankane/pgvector
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: agents
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: